services:
  webui:
    build: .
    container_name: webui
    restart: on-failure
    ports:
      - "${PORT}:${PORT}"
      - "${VS_PORT}:${VS_PORT}"
      - "${TTYD_PORT}:${TTYD_PORT}"
      - "${ALIST_PORT}:${ALIST_PORT}"
    env_file:
      - .env
    # network_mode: "host"
    # networks:
    #   - proxy_network

# networks:
#   proxy_network:
#     external: true